name: descope
description: A Flutter package for working with the Descope API.
version: 0.9.13
homepage: https://www.descope.com
repository: https://github.com/descope/descope-flutter
issue_tracker: https://github.com/descope/descope-flutter/issues
documentation: https://docs.descope.com/

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  cryptography: ^2.5.0
  flutter:
    sdk: flutter
  http: ^1.0.0
  json_annotation: ^4.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  build_runner: ^2.3.3
  json_serializable: ^6.6.0

flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.descope.flutter
        pluginClass: DescopePlugin
      ios:
        pluginClass: DescopePlugin
      linux:
        pluginClass: DescopePlugin
      macos:
        pluginClass: DescopePlugin
      windows:
        pluginClass: DescopePluginCApi
