<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.descope.flutter">
    <application>
        <activity
            android:name=".DescopeHelperActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:enabled="true"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.Hidden" />
    </application>
</manifest>
